<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRData - uplode</title>
    <link rel="stylesheet" href="{% static 'oreo/css/oreo/uplode.css' %}">
</head>
<body>
    <div class="uplode-container">
        <h1>파일 업로드</h1>
        <form id="uplodeForm" method="post" action="{% url 'uplode_photo' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="previewContainer">
                <p>대표 사진 미리보기:</p>
                <img id="repPreview" src="" alt="대표 사진 미리보기" class="hidden">
            </div>

            <label for="repFileInput" class="custom-file-uplode">대표 사진 선택</label>
            <input type="file" id="repFileInput" accept="image/*" required>

            <label for="fileInput" class="custom-file-uplode">파일 선택 (사진 또는 동영상)</label>
            <input type="file" id="fileInput" accept="image/*, video/*" multiple required>

            <label for="dateInput">날짜:</label>
            <input type="date" id="dateInput" required>

            <label for="descriptionInput">사진 설명:</label>
            <textarea id="descriptionInput" placeholder="사진 설명을 입력하세요..." required></textarea>

            <button type="submit">업로드</button>
        </form>

        <button type="button" id="backBtn" data-url="{% url 'loginhome' %}">뒤로가기</button>
    </div>

    <script src="{% static 'oreo/js/oreo/uplode.js' %}"></script>
</body>
</html>
